.flex
{
    display: flex;
}
.items-center{
    align-items: center;
}
.space-between
{
    justify-content:space-between ;
}
.color{
    background-color: rgba(0, 0, 0, 0.705);
}

.s{
    display: flex;
}
.bold
{
    font-weight: bolder;
    list-style: none;
}

.input
{
    margin-top: 10px;
    display: flex;
    width: 140px;
    height: 25px;
    border-radius: 10px;
    padding: 7px 17px;
    background:#f7f8fd;
    border: 0.5px solid;
}
.profile
{
    margin-left: 12px;
    margin-right: 12px;
}
li{
    display: list-item;
}
.section1
{
    background-color:#f5f0f0;
}
.dash
{
    margin-left: 30px;
}
.box
{
    display: flex;
}
.a{
    border: 2px solid;
    padding: 10px;
    margin-left: 30px;
    margin-top: 35px;
    width: 23%;
    height: 50px;
    border-radius: 9px;
    background-color: rgba(0, 204, 255, 0.815);

}
.b{
    border: 2px solid;
    padding: 10px;
    margin-left: 30px;
    margin-top: 35px;
    width: 23%;
    height: 50px;
    border-radius: 9px;
    background-color:yellow;
    
    
}
.c{
    border: 2px solid;
    padding: 10px;
    margin-left: 30px;
    margin-top: 35px;
    width: 23%;
    height: 50px;
    border-radius: 9px;
    background-color:rgb(6, 155, 6);

}
.d{
    border: 2px solid;
    padding: 10px;
    margin-left: 30px;
    margin-top: 35px;
    width: 23%;
    height: 50px;
    border-radius: 9px;
    background-color:red;

}
.image
{
    display: flex;
    margin: 50px;
    width: 250px;
    height: 300px;
    padding: 25px;
}
.footer
{
    margin-top: 30px;
}
.footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
